/* Layout Styles */ 
#page_section { 
 width: 1100px;
 margin:0 auto;
background: none repeat scroll 0 0 padding-box white;
border: 8px solid transparent;
box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
position: relative;
}

#banner {
	background-image:url(images/banner.jpg);
    display:block;
    height:150px;
    text-indent:-9999px;
    width:1100px;
}

.title-text {
color:#5FA92A;
font-size:130%;
background-image:url(images/hor-line.jpg);
background-repeat:repeat-x;
background-position:22px 22px;
margin-bottom:5px;
width:210px;
}

#left-top{
margin-top:2%;
float:left;
width:25%;
height:260px;
}

#ver-border {
margin-top:2%;
float:left;
height:125px;
width:8px;
background-image:url(images/ver-line.jpg);
background-repeat:repeat-y;
background-position:right;
}

#right-top{
margin-top:2%;
float:right;
width:72%;
}

#spec-tour{
margin:auto;
}

#hot-spot {
margin-top:4%;
}

#metro-ui {
background: #ffffff url(images/bg1.png) repeat left top;
height:500px;
}

#top-big { 
float: left;
height: 247px;
width: 764px;
}

#top-small {
float: right;
height: 247px;
width: 330px;
}

#bot1 {
float: left;
height: 247px;
width: 362px;
}

#bot2 {
margin: 0 6px 0 6px;
float: left;
height: 247px;
width: 364px;
}

#bot3 {
float: right;
height: 247px;
width: 362px;
}

#footer { 
height: 50px;
color:#FFF;
width:1100px;
background:url(images/footer.png);
text-align:center;
margin:auto;
vertical-align:middle;
color:#003;
}
    
 
#content {
margin-top:2%;
}