.wan-clear {
 clear: both;
}
.wan-clearer {
 clear: both; 
 display: block; 
 margin: 0; 
 padding: 0; 
 height: 0; 
 line-height: 1px; 
 font-size: 1px;
}

body {
	background-image: url(images/test/brushed_alu.png);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin:0px;
	padding:0px;
}

 h1 {color:#4747C2;
	 font-size:200%;
	 font-family:Verdana;
	 text-align:center}
 h2 {color:#2F4F2F;
 	 font-size:150%;
	 text-align:center}
 h3 {font-style:italic;}

a.menu
{
	display:block;
	width:140px;
	font-weight:bold;
	color:#FFFFFF;
	background:#069;
	text-align:center;
	padding:4px;
	text-decoration:none;
	text-transform:uppercase;
}
a:hover,a:active
{
	/*background-color:#09C;*/
}
.footer
{
	text-align:center;
	margin:auto;
	vertical-align:middle;
	color:#003;
}
.header
{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:20px;
	color:#FF3;
    /*set the div in the bottom right corner*/
    position:absolute;
    top:0;
    right:0;

}

.transparent-box {
width: 100%;
height: 50px;
margin-top: -50px;
background-color:#ffffff;
opacity:0.45;
filter:alpha(opacity=45); /* For IE8 and earlier */
position: relative;
z-index: 2;
}

p.text-over-transparent {
padding: 1%;
text-align:center;
font-weight:bold;
margin: -40px 1px 1px;
position: relative;
text-align: center;
z-index: 9999;
color:#2E2E2E;
}

.non-underline {
text-decoration: none;
}

/*********************************************/

/* Formatting Menu */
#topnav 
{
	height:50px;
	margin:10px 0;
	padding:0;
	background: url(images/topnav_yellow.jpg) no-repeat left top;
}

#topnav ul 
{
  	font-family:Verdana, Geneva, sans-serif;
  	font-size:14px;
	font-weight:bold;
  	margin:0;
  	padding:0;
  	list-style: none;
	position:relative;
	z-index:999
}

#topnav ul li 
{		
  	display:block;
  	position:relative;
  	float:left;
}

#topnav ul li a 
{
	padding: 16px 2px;

  	display:block;
	width: 105px;	
  	text-decoration:none;

  	/*color: #FFFBF0;  Apply for orange menu */
	color:#808080;
	text-align:center;

    text-decoration: none; /* Make underline (of hyperlink) loss/disappeared */	
/*	border-right:1px solid #FFFBF0;*/
	/*background: url(images/topnav_separator.png) no-repeat right center;*/
}

#topnav ul li ul a
{
	border-top:1px solid #FFFBF0;
}

#topnav ul li a:hover, li:hover a 
{ 
	color:white;
	background:#DFDA15;
}

#topnav ul li ul 
{ 
	display: none;
}

#topnav li:hover ul 
{
  	display: block;
  	position: absolute;
}

#topnav li:hover li 
{
  	float:none;
  	font-size:11px;	
}

#topnav li.current a
{
	background:url('images/menuhover.png') center center no-repeat;
	/*background-color:#DFDA15;*/
	color:white;
}

#topnav a.parent_menu
{
	background-image: url(images/navdown_white.gif);
	background-position: bottom center;
	background-repeat: no-repeat;
}

#search-box
{
	font-family:Verdana, Geneva, sans-serif;
  	font-size:12px;
}