.wan-clear {
 clear: both;
}
.wan-clearer {
 clear: both; 
 display: block; 
 margin: 0; 
 padding: 0; 
 height: 0; 
 line-height: 1px; 
 font-size: 1px;
}

body {
	background-image: url(images/test/brushed_alu.png);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin:0px;
	padding:0px;
}

 h1 {color:#4747C2;
	 font-size:200%;
	 font-family:Verdana;
	 text-align:center}
 h2 {color:#2F4F2F;
 	 font-size:150%;
	 text-align:center}
 h3 {font-style:italic;}


a.menu
{
	display:block;
	width:140px;
	font-weight:bold;
	color:#FFFFFF;
	background:#069;
	text-align:center;
	padding:4px;
	text-decoration:none;
	text-transform:uppercase;
}

.footer
{
	text-align:center;
	margin:auto;
	vertical-align:middle;
	color:#003;
}
.header
{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:20px;
	color:#FF3;
    /*set the div in the bottom right corner*/
    position:absolute;
    top:0;
    right:0;

}

.transparent-box {
width: 100%;
height: 50px;
margin-top: -50px;
background-color:#ffffff;
opacity:0.45;
filter:alpha(opacity=45); /* For IE8 and earlier */
position: relative;
z-index: 10;
}

p.text-over-transparent {
padding: 1%;
text-align:center;
font-weight:bold;
margin: -40px 1px 1px;
position: relative;
z-index: 11;
text-align: center;
color:#2E2E2E;
}

.non-underline {
text-decoration: none;
}

/*********************************************/

/*********************** Start Of Formatting Menu (includes Admin drop-down also)***********************/
#topnav, #topnav ul, #user-cpanel, #user-cpanel ul
{
	margin:0;
	padding:0;	
}

#topnav 
{
	height:50px;
	background: url(images/topnav_yellow.jpg) no-repeat left top;
}

#topnav ul 
{
  	font-family:Verdana, Geneva, sans-serif;
  	font-size:14px;
	font-weight:bold;
  	list-style: none;
	z-index:15;
}

#topnav ul li
{		
  	display:block;
  	float:left;
}

#topnav ul li a 
{
	padding: 16px 2px;
  	display:block;
	width: 105px;	
  	text-decoration:none;
	color:#808080;
	text-align:center;
}

#topnav ul li ul a
{
	border-bottom:1px solid #FFFBF0;
	background:#FAE347;
}

#topnav li:hover li
{
  	float:none;
  	font-size:11px;	
}

#topnav a.parent_menu
{
	background-image: url(images/navdown_white.gif);
	background-position: bottom center;
	background-repeat: no-repeat;
}

#topnav ul li a:hover, #user-cpanel ul li a:hover, li:hover a 
{
	text-decoration:underline;
}

#topnav ul li ul, #user-cpanel ul li ul
{ 
	display: none;
}

#topnav li:hover ul, #user-cpanel li:hover ul
{
  	display: block;
  	position: absolute;
}

#user-cpanel {
	height:40px;
	background-image:url('images/test/brushed_alu.png');	
}

#user-cpanel ul {
	list-style:none;
	z-index:100;
}

#user-cpanel ul li {
	/*Create padding for admin items*/
	padding: 0px 4px 0px 4px;
	float:right;
	position:relative;
	dislay:block;
	top: 10px;
}

#user-cpanel ul li a
{
	text-decoration:none;
	color:#0080FF;
	display:block;
	text-align:center;
}

#user-cpanel ul li ul a, #user-cpanel .admin
{
	/*Fix width of Admin Control & its Items to be equal*/
	width:100px;
}

#user-cpanel ul li ul a
{
	padding:4px 0;
	background:url('images/transparent-bg.png');
	color:#E5E8C4;
	border-bottom:1px solid #A0A0A4;
}

#user-cpanel ul li ul a:hover
{
	color:#D41F00;
}

#user-cpanel ul li ul li
{
	/*Fix sub-items lef-align with Admin Contrl*/
	padding-left:0;
}
/*********************** End Of Formatting Menu (includes Admin drop-down also)***********************/

#search-box
{
	font-family:Verdana, Geneva, sans-serif;
  	font-size:12px;
}

#fade {
width: 100%;
height: 100%;
position:fixed;
z-index:19;
background-color:black;
opacity:0.5;
filter:alpha(opacity=50); /* For IE8 and earlier */

}
#login {
	margin:0; 
	margin-left:34%; 
	margin-right:25%;
	margin-top:3%;
	
	position:absolute; 
	display:none;
	border:solid #000000 2px; 
	z-index:20; 
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
}

#signout {
	margin-left:30%; 
	margin-right:25%;
	margin-top:5%; 
	 
	position:absolute; 
	display:none;
	border:solid #000000 2px; 
	z-index:20; 
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
}

.nopcart td{
	border:1px solid #990000;
	text-align:center;
}

fieldset { 
  border: 1px solid black; 
  padding: 0.5em 0.5em 0.5em 0.5em; 
}

.errorInput {
-moz-box-shadow: 0 0 5px red !important;
-webkit-box-shadow: 0 0 5px red !important;
box-shadow: 0 0 5px red !important;
}

#loading {
	background-image:url('images/loading.gif') no repeat;
}

/************Decorate registration form ****************/
#registration {
	margin-left:auto;
	margin-right:auto;
	color: #fff;
	    background: #2d2d2d;
	    background: -webkit-gradient(
	        linear,
	        left bottom,
	        left top,
	        color-stop(0, rgb(60,60,60)),
	        color-stop(0.74, rgb(43,43,43)),
	        color-stop(1, rgb(60,60,60))
	        );
	     background: -moz-linear-gradient(
	        center bottom,
	        rgb(60,60,60) 0%,
	        rgb(43,43,43) 74%,
	        rgb(60,60,60) 100%
	        );
	      border-radius: 10px;
	     -moz-border-radius: 10px;
	     -webkit-border-radius: 10px;
	     -o-border-radius: 10px;
		-icab-border-radius: 10px;
		-khtml-border-radius: 10px;
	     
	     width: 35%;
}
#registration h1 {
	color:#FFF;
}
/*
legend
{
  color: #FFFFFF;
  background-color: #4899BE;
  font-family: Arial, Helvetica, Sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  padding: 5px;
  border: 1px solid #3E4A49;
  text-align:center;
  width:488px;
}
*/

#registration input:focus, #registration select:focus
{
  border: 1px solid #4899BE;
}

#registration input, #registration select {
	border: solid 1px #444;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-o-border-radius: 15px;
	-icab-border-radius: 15px;
	-khtml-border-radius: 15px;
	font-size: 14px;
	width: 90%;
	padding: 7px 8px 7px 8px;
	background: #ddd;
	background: -moz-linear-gradient(center bottom, rgb(225, 225, 225) 0%,
		rgb(215, 215, 215) 54%, rgb(173, 173, 173) 100% );
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(225,
		225, 225) ), color-stop(0.54, rgb(215, 215, 215) ),
		color-stop(1, rgb(173, 173, 173) ) );
	color: #333;
	text-shadow: 0px 1px 0px #FFF;
	-moz-box-shadow: 0px 1px 0px #777;
	-webkit-box-shadow: 0px 1px 0px #777;
	box-shadow: 0px 1px 0px #777;
}

#registration fieldset {
	padding: 20px;
	border:none;
}
#registration button {
	color: #fff;
	text-shadow: 0px -1px 0px #000;
	text-align: center;
	padding: 18px;
	margin: 0px;
	font-weight: normal;
	      font-size: 24px;
	      font-family: Lucida Grande, Helvetica, Arial, sans-serif;
	border-bottom: solid #181818 1px;
	-moz-box-shadow: 0px 1px 0px #3a3a3a;
	-webkit-box-shadow: 0px 1px 0px #3a3a3a;
	box-shadow: 0px 1px 0px #3a3a3a;
}
#registerNew {
	width: 203px;
	height: 40px;
	border: none;
	text-indent: -9999px;
	background: url('images/createAccountButton.png') no-repeat;
	cursor: pointer;
	float: none;
}
#registerNew:hover { background-position: 0px -41px; }
#registerNew:active { background-position: 0px -82px; }
/************End of registration form decoration ****************/

/************Decorate login form ****************/

	#login-section{
		color:#fff;
		width:400px;
		text-align:center;
		border:none;
		}
	#login-section h3{
		margin:0;
		background:#51584F;		
		color:#fff;
		font-size:20px;
		font-style:normal;
		border: none;
		border-bottom:none;
		}		
	#login-section h3 span{
		display:block;
		padding:10px 20px;	
	}
	
	#login_failed h3{
		margin:0;
		background:url(images/loginbg.png) repeat;		
		color:#FF0;
		font-size:15px;
		font-style:italic;
		border: none;
		border-bottom:none;
	}
	
	#login_failed h3 span{
		display:block;
		padding:10px 20px;
	}
	
	#login-section fieldset{
		margin:0;
		padding:0;
		border:none;	
		border-top:3px solid #000;
		background: url(images/loginbg.png) repeat;		
		padding-bottom:1em;
		}
	#login-section legend{display:none;}	
	#login-section p{margin:fix;}	
	#login-section label{display:block;}	
	#login-section input{		
		width:350px;
		border:1px solid #111;
		background:#282828 url(images/form_input.gif) repeat-x;
		padding:5px 3px;
		color:#fff;
		}			
	#login-section p.submit{
		text-align:center;
		}	
	#login-section button{
		padding:0 20px;
		height:32px;
		line-height:32px;		
		border:1px solid #70ad2e;
		background:#000000;
		color:#fff;
		cursor:pointer;		
		text-align:center;		
		}
	#login-section button:hover{
		background:#3EE106;
	}
	#login-section button:active{
		background:#0DA209;
	}
/************End of login form decoration ****************/

/*************Not decoration registration form**************/
.bt {
	color:red;
}

/*************************Display tour lists*************************/
#tour
{
	clear:both;
	min-height:200px;
	margin-bottom:10px;
}

#tour_name
{	
	text-decoration:none;
	color:#FF5F00;
	font-size:20px;
}

#tour img
{
	padding-right:5px;
	padding-bottom:5px;
}
/*************************End of Display tour lists*************************/

/*************************Display tour details*************************/
#tour_content
{
	border:1px solid #A0A0A4;
	padding:5px;
}

#top_details
{
	clear:both;
}

#description
{
	text-align:justify;
	clear:both;
}

#heading
{
	color:#5FA92A;
	font-size:130%;
	text-align:center;
	margin-bottom:5px;
	border-bottom: 1px solid #A0A0A4;
}
/*************************End of Display tour details*************************/

/***********Decorate Customer Review***********/
#make_review 
{
	width:100%;
}

#make_review legend
{
	color:#5FA92A;
	font-size:130%;	
}

#make_review table
{
	margin:auto;	
}

#make_review input, #make_review textarea
{
	width:600px;
}

#make_review textarea
{
	height:100px;	
}
/***********End of Decorate Customer Review***********/

/***** Decorate comment table *******/
#review table
{
	width:100%;
	border-collapse:collapse;
	margin:1em 0;
}

#review table th, #review table td
{
	text-align:left;
	padding:.5em;
	border:1px solid #fff;
}

#review th
{
	background:#328aa4 url(images/tr_back.gif) repeat-x;
	color:#fff;
}

#review td
{
	background:#e5f1f4;
}

#light /*Use to express username & date*/
{
	color:#808080;
	font-weight:bold;
}
/************ End of table comment decoration ************/

/*************************Decorate Booking Form*************************/
#book table
{
	margin:auto;
}

#book caption
{
	font-size:28px;
	color:blue;	
	margin-bottom:15px;
}

#book select, #book input, #book .label
{
	width:150px;	
}

.tour_name
{
	color:#FF5F00;
	font-weight:bold;
}

.note {
	text-align:center;
	font-style:italic;
	color:red;	
}

#tour_booking table, #tour_booking th, #tour_booking tr, #tour_booking td
{
	border:1px solid black;
	border-collapse:collapse;
	text-align:center;
	margin:auto;
	padding:5px;	
}
/*************************End of Decorate Booking Form*************************/

/******* Design for logout form ********/
	#signoutform{
		color:#fff;
		width:400px;
		text-align:center;
		border:none;
		}
	#signoutform h3{
		margin:0;
		background:#51584F;		
		color:#fff;
		font-size:20px;
		font-style:normal;
		border: none;
		border-bottom:none;
		}		
	#signoutform h3 span{
		display:block;
		padding:10px 20px;	
		}				
	#signoutform fieldset{
		margin:0;
		padding:0;
		border:none;	
		border-top:3px solid #000;
		background: url(images/loginbg.png) repeat;		
		padding-bottom:1em;
		}
	#signoutform legend{display:none;}	
	#signoutform p{margin:fix;}	
	#signoutform input{		
		padding:0 20px;
		height:32px;
		line-height:32px;		
		border:1px solid #70ad2e;
		background:#000000;
		color:#fff;
		cursor:pointer;		
		text-align:center;		
		}			
	#signoutform p.submit{
		text-align:center;
		}
	#signoutform input:hover{
		background:#3EE106;
	}
	#signoutform input:active{
		background:#0DA209;
	}
/******* End of design for logout form ********/
	
#avg {
	background: url("images/avg-star.png") no-repeat scroll 0 0 transparent;
    color: black;
    display: inline-block;
    font-family: tahoma;
    font-size: 12px;
    font-weight: bold;
    height: 66px;
    line-height: 66px;
    padding-right: 5px;
    text-align: center;
    vertical-align: middle;
    width: 66px;
}

/******* Design for about page********/
#about h1{
	font-size:40px;
	font-style:normal;
	color:#339;
	font-family: Elephant, Arial;
	text-align:center;
}

#about h3{
	font-size: 21px;
	font-style:normal;
	color:#360;
	font-family:Arial Black, Gadget, sans-serif;
}

/******* End of design for about page********/


/******* Contact form design********/
#contactform {
 
    width: 500px;
    padding: 20px;
    background: #f0f0f0;
    overflow:auto;
 
    /* Border style */
    border: 1px solid #cccccc;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
 
    /* Border Shadow */
    -moz-box-shadow: 2px 2px 2px #cccccc;
    -webkit-box-shadow: 2px 2px 2px #cccccc;
    box-shadow: 2px 2px 2px #cccccc;
 }
 
#contactform label {
    font-family: Arial, Verdana;
    text-shadow: 2px 2px 2px #ccc;
    display: block;
    float: left;
    font-weight: bold;
    margin-right:10px;
    text-align: right;
    width: 120px;
    line-height: 25px;
    font-size: 15px;
}
	
.input{
    font-family: Arial, Verdana;
    font-size: 15px;
    padding: 5px;
    border: 1px solid #b9bdc1;
    width: 300px;
    color: #797979;
    }

.hint{
    display:none;
}

.field:hover .hint {
    position: absolute;
    display: block;
    margin: -30px 0 0 455px;
    color: #FFFFFF;
    padding: 7px 10px;
    background: rgba(0, 0, 0, 0.6);
 
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    }

.button{
    float: right;
    margin:10px 55px 10px 0;
    font-weight: bold;
    line-height: 1;
    padding: 6px 10px;
    cursor:pointer;
    color: #fff;
 
    text-align: center;
    text-shadow: 0 -1px 1px #64799e;
 
    /* Background gradient */
    background: #a5b8da;
    background: -moz-linear-gradient
       (top, #a5b8da 0%, #7089b3 100%);
    background: -webkit-gradient
       (linear, 0% 0%, 0% 100%,
       from(#a5b8da), to(#7089b3));
 
    /* Border style */
    border: 1px solid #5c6f91;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
 
    /* Box shadow */
    -moz-box-shadow: inset 0 1px 0 0 #aec3e5;
    -webkit-box-shadow: inset 0 1px 0 0 #aec3e5;
    box-shadow: inset 0 1px 0 0 #aec3e5;
}
/******* End of contact form design********/

/*********** Tour Admin function decoration ***********/
#adminbutton {
	float:right;
}

#adminbutton input, #addtour input {  
    width: auto;  
    padding: 9px 15px;  
    background: #617798;  
    border: 0;  
    font-size: 14px;  
    color: #FFFFFF;  
    -moz-border-radius: 5px;  
    -webkit-border-radius: 5px;  
}

#adminbutton input:hover, input:focus {  
    border-color: #C9C9C9;
	background:#8080FF;
} 

#addtour input:hover, input:focus {
	border-color: #C9C9C9;
	background:#8080FF;
}
/***** End of tour admin decoration ********/

/******** Ebook admin decoration **********/
#admin-ebook input, #addtour input {  
    width: auto;  
    padding: 9px 15px;  
    background: #617798;  
    border: 0;  
    font-size: 14px;  
    color: #FFFFFF;  
    -moz-border-radius: 5px;  
    -webkit-border-radius: 5px;  
}

#admin-ebook input:hover, input:focus {  
    border-color: #C9C9C9;
	background:#8080FF;
} 
/***** End of ebook admin decoration ********/

/**********Decorate SiteMap***********/
#sitemap li, a:visited
{
	color:#2A1FFF;
}






/*
#tour_content
{
	
	padding:5px;
    border: solid 1px #E5E5E5;  
    outline: 0;  
    font: normal 13px/100% Verdana, Tahoma, sans-serif;   
    background: #FFFFFF url('bg_form.png') left top repeat-x;  
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));  
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);  
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
    } 
}

#top_details
{
	clear:both;
}

#top_details b
{
	margin-left:2%;
}


#description {
	margin-top:5%;
	margin-left: 1%;
	text-align:justify;
	clear:both;
}

#heading
{
	color:#5FA92A;
	font-size:160%;
	font-weight:bold;
	text-align:center;
	margin-bottom:5px;
	border-bottom: 1px solid #A0A0A4;
}