/* Layout Styles */ 
#page_section { 
 background: white; 
 width: 80%;
 margin:0 auto;
} 
#banner { 
height: 150px; 
background: url(images/banner2.png);
} 
#footer { 
height: 50px;
color:#FFF;
}    
 
#content {
background:url(images/background.jpg) repeat;
}