.wan-clear {
 clear: both;
}
.wan-clearer {
 clear: both; 
 display: block; 
 margin: 0; 
 padding: 0; 
 height: 0; 
 line-height: 1px; 
 font-size: 1px;
}

 h1 {color:#4747C2;
	 font-size:200%;
	 font-family:Verdana;
	 text-align:center}
 h2 {color:#2F4F2F;
 	 font-size:150%;
	 text-align:center}
 h3 {font-style:italic;}

a.menu
{
	display:block;
	width:140px;
	font-weight:bold;
	color:#FFFFFF;
	background:#069;
	text-align:center;
	padding:4px;
	text-decoration:none;
	text-transform:uppercase;
}
a:hover,a:active
{
	background-color:#09C;
}
.footer
{
	text-align:center;
	margin:auto;
	vertical-align:middle;
	color:#003;
}
.header
{
	text-align:right;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:20px;
	color:#FF3;
}

.transparent-box {
width: 100%;
height: 50px;
margin-top: -50px;
background-color:#ffffff;
opacity:0.45;
filter:alpha(opacity=45); /* For IE8 and earlier */
position: relative;
z-index: 2;
}

p.text-over-transparent {
padding: 1%;
text-align:center;
font-weight:bold;
margin: -40px 1px 1px;
position: relative;
text-align: center;
z-index: 9999;
color:#2E2E2E;
}

.non-underline {
text-decoration: none;
}

/*********************************************/

/* Formatting Menu */
#horizontal_menu ul
{
    list-style-type: none;
	padding: 0px;
}

#horizontal_menu li
{
	display: inline;
}

#horizontal_menu a
{
	padding: 5px 0;
	width: 16.45%;
	float: left;
	
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11pt;
	font-weight: bold;
	text-align: center;
		
    color: #FFFBF0;
	background-color: #F00;
	
    text-decoration: none; /* Make underline (of hyperlink) loss/disappeared */
	border: 1px solid #FFFBF0;
}

#horizontal_menu a:hover
{
	color: #0F0;
}

