@CHARSET "ISO-8859-1";
#mce-EMAIL{
	-moz-box-shadow: 0px 1px 1px rgba(147,167,183, 0.60);
	  -webkit-box-shadow:0px 1px 1px rgba(147,167,183, 0.60);
	  box-shadow: 0px 1px 1px rgba(147,167,183, 0.60);
	  -moz-border-radius: 5px;
	  -webkit-border-radius: 5px; margin-top:2px;
	  border-radius: 5px;
	  background-color:#fff;
	  border:1px solid #fff;
	  width: 340px; 
	  height: 32px;
	  margin-right:8px;
	  outline: none;
	  color: #444444; 
	  font-size: 13px; 
	  font-weight: bold; padding-left:10px;
}